<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.article.title %></title>
    <!-- FAVICON -->
    <link rel="icon" href= <%- websiteData.pavIcon %> type="image/gif" sizes="16x16">
    <!-- STYLESHEET -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <!-- fetching the CSS -->
    <link rel="stylesheet" href="/tailwind.css">
    <link rel="stylesheet" href="/asset/css/quill.css">
</head>
<body class="bg-body-bg dark:bg-gray-800" x-data="{ 'showModal': false } "
    @keydown.escape="showModal = false" x-cloak>
    <!-- NAVBAR -->
    <%- include('parts/navbar', {websiteData, user}); %>
    <!-- ARTICLE -->
    <article class="container mx-auto mb-10 dark:bg-gray-600 rounded-md bg-bg-card px-6 py-4 mt-3 dark:text-white" >
       <!-- tanggal -->
        <div class="flex justify-beetwen mb-3 ">
            <div class="flex items-center">
                <ion-icon name="calendar-number-outline"></ion-icon>
                <p class="ml-2 md:ml-4 font-bold text-xs"><%= data.article.createdAt.toUTCString().split(' ').slice(1, 4).join(' ') %></p>
            </div>
            <div class="flex items-center ml-5">
                <ion-icon name="person-outline"></ion-icon>
                <p class="ml-4 font-bold text-xs"><%= data.article.writer.name %></p>
            </div>
        </div>
         <!-- render data dibawah gan -->
        <div class="ql-snow">
            <%- data.article.content %>
        </div>
    </article>

    <!-- COMMENT -->
    <div class="comment-list my-6 w-5/6 mx-auto bg-white py-3 dark:bg-gray-600 dark:text-white">
        <div class="w-5/6 mx-auto px-5">
            <h3 class="font-bold text-2xl">Comment</h3>
        </div>

        <!-- COMMENT RENDER -->
        <div class="comment-render flex flex-col overflow-y-auto max-h-96">
            <% if(typeof data.article.comments != "undefined"){ %>
                <% if(data.article.comments.length > 0){ %>
                    <% for(let comment of data.article.comments){ %>
                        <div class="comment-card w-5/6 mx-auto my-3 bg-gray-100 dark:bg-gray-500 rounded-md py-2 px-5">
                            <!-- COMMENT -->
                            <p class="font-bold"><%= comment.commentator.name %></p>
                            <p class="font-normal text-xs"><%= comment.createdAt.toUTCString().split(' ').slice(1, 4).join(' ') %></p>
                            <p class="font-light my-1 mb-6"><%= comment.text %></p>
                            <!-- END COMMENT -->
                            <!-- REPLIES -->
                            <% for(let reply of comment.replies){ %>
                                <div class="comment-reply w-5/6 mb-6 bg-gray-200 dark:bg-gray-600 rounded-md py-2 px-5">
                                    <p class="font-bold"><%= reply.replier.name %></p>
                                    <p class="font-normal text-xs"><%= reply.createdAt.toUTCString().split(' ').slice(1, 4).join(' ') %></p>
                                    <p class="font-light my-1"><%= reply.text %></p>
                                </div>
                            <% } %>
                            <!-- END REPLIES -->
                            <!-- SEND REPLY -->
                            <div class="action  mt-3">
                                <button class="reply px-3 py-1 rounded-md bg-gray-200 dark:bg-gray-600">Reply</button>
                                <% if(data.article.writer.uuid == user.sub || comment.commentator.uuid == user.sub){ %>
                                    <button class="px-3 py-1 rounded-md bg-gray-200 ml-3 dark:bg-gray-600" 
                                        @click="showModal = true; commentUuid = '<%= comment.uuid %>'; articleUrl = '<%= data.article.url %>';">
                                        Delete
                                    </button>
                                <% } %>
                                <div class="render-reply mt-5 hidden">
                                    <form method="POST" action= <%= `/comments/replies/create/${data.article.url}/${comment.uuid}` %> class="flex flex-col ">
                                        <textarea name="text" class="lg:w-3/6 h-36 focus:outline-none px-3 py-5 resize-none dark:bg-gray-400" placeholder="Write Reply Here" required></textarea>
                                        <button class="w-16 px-3 py-1 rounded-sm bg-gray-200 mt-5 dark:bg-gray-600">Send</button>
                                    </form>
                                </div>
                            </div>
                            <!-- END SEND REPLY -->

                            <!-- DELETE MODAL -->
                            <div class=" w-11/12 md:max-w-md mx-auto rounded shadow-lg py-4 text-left px-6" x-show="showModal"
                                x-transition:enter="ease-out duration-300"
                                x-transition:enter-start="opacity-0 scale-90" x-transition:enter-end="opacity-100 scale-100" >
                                <!-- DELETE TITLE -->
                                <div class="flex justify-between items-center pb-3">
                                    <p class="text-2xl font-bold">Delete Comment ?</p>
                                </div>
                                <!-- END DELETE TITLE -->
                                <!-- DELETE FOOTER -->
                                <div class="flex justify-end pt-2">
                                    <button
                                        class="px-4 bg-transparent p-3 rounded-sm text-white bg-yellow-700 dark:bg-gray-700  mr-2"
                                        @click="sendDeleteCommentRequest(commentUuid, articleUrl); showModal = false">yes</button>
                                    <button class="modal-close px-4 text-white dark:text-white bg-yellow-700 dark:bg-gray-700"
                                        @click="showModal = false">no</button>
                                </div>
                                <!-- END DELETE FOOTER-->
                            </div>
                            <!-- END DELETE MODAL -->
                        </div>
                    <% } %>
                <% }else{ %>
                    <p class="text-lg text-center my-auto mx-auto py-4 px-3 rounded-sm dark:text-white  mt-8 w-5/6 md:w-3/6 bg-gray-200 dark:bg-gray-700 ">No comment to display, write the first comment</p>
                <% } %>
                
            <% } %>
        </div>
        <!-- END COMMENT RENDER -->

        <!-- WRITE COMMENT -->
        <% if(user.sub != null){ %>
            <form method="POST" action = <%= `/comments/create/${data.article.url}` %> class="new-comment flex flex-col mx-auto my-6 w-4/6 ">
                <h3 class="font-bold text-xl mx-auto mb-5 ">Write Comment</h3>
                <textarea name="text" id="" class="outline-none border py-2 px-5 h-56 mt-5 resize-none dark:bg-gray-500" placeholder="Write Comment Here" required></textarea>
                <button class="reply px-5 mt-5 py-1 rounded-md bg-gray-200 dark:bg-gray-500">comment</button>
            </form>
        <% }else{ %>
            <form action= <%= `/users/login?url=${data.article.url}` %> method="POST" class="new-comment flex flex-col mx-auto mt-10 mb-6 w-4/6 ">
                <h3 class="font-bold text-xl mx-auto mb-5">Login to Comment or Reply</h3>
                <p class="dark:text-white text-lg mb-1">Email</p>
                <input type="email" name="email" id="" placeholder="email" required class="outline-none border py-2 px-5 dark:bg-gray-500 mb-5">
                <p class="dark:text-white text-lg mb-1">password</p>
                <input type="password" name="password" id="" placeholder="password" required min="6" class="outline-none border py-2 px-5 dark:bg-gray-500 mb-5">
                <button class="reply px-5 mt-5 py-1 rounded-md bg-gray-200 dark:bg-gray-500">Login</button>
            </form>
            <p class="dark:text-white text-lg mb-1 text-center">or register  <a href= <%= `/users/register?url=${data.article.url}` %> class="text-blue-500">here</a></p>
        <% } %>
        <!-- END WRITE COMMENT -->
    </div>

    <!-- about -->
    <% if(typeof data.article.writer != "undefined"){ %>
        <div class="about my-7 mt-10 container md:w-3/6 w-5/6  mx-auto text-center px-2 py-3 bg-bg-card rounded-md shadow-lg dark:bg-gray-600 ">
            <h2 class="font-bold text-2xl text-main-text dark:text-white">About Writer</h2>
            <img src=<%= data.article.writer.profilePicture %> class="mx-auto my-5 rounded-full" >
            <p class="md:text-md text-sm text-color-p dark:text-white">
                <%= data.article.writer.name %>
            </p>
        </div>
    <% } %>
    <footer class="mt-6 text-center bg-main-blue  dark:bg-gray-900 text-white py-2 text-sm">
        <p>&copy; 2021 YNTKTS</p>
    </footer>
</body>
    <script src="/asset/js/article.js"></script>
    <script src="/asset/darkmode.js"></script>
    <script src="asset/js/comment.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <!-- Importing the jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</html>