<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit website</title>
    <!-- importing the css/stylesheet -->
    <link rel="stylesheet" href="/asset/css/global.css">
    <link rel="stylesheet" href="/asset/css/nav.css">
    <link rel="stylesheet" href="/tailwind.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">  
</head>
<body>
    <!-- NAVBAR -->
    <nav>
        <div class="container">
            <div class="nav-logo">
                set main Article
            </div>
            <div class="">
                <a href="/">Home</a>
                <a href="/users">Dashboard</a>
            </div>
        </div>
    </nav>

    <!-- MAIN DIV -->
    <div class=" mx-auto w-5/6 md:w-4/6">
        <!-- CURRENT MAIN ARTICLE -->
        <h3 class="font-bold text-2xl mx-auto mt-5 text-center text-gray-800">active Main Article</h3>
        <% if(data.mainArticle != null) { %>
            <div class="main-post flex flex-col md:flex-row bg-white md:w-4/6 mx-auto px-3 py-2 border-b mt-5 mb-3">
                <img src= <%- data.mainArticle.thumbnail %> class="w-24 h-full object-cover rounded-2xl mx-auto md:mx-0 mb-5 md:mb-0">
                <div class="flex flex-col w-5/6 md:w-4/6 mx-auto md:mx-0 md:ml-5 text-center md:text-left">
                    <h3 class="text-sm md:text-base font-bold break-words "><%= data.mainArticle.title %></h3>
                    <p class="text-sm font-light mt-4 mb-1"><%= data.mainArticle.createdAt %></p>
                    <p class="text-sm font-light"><%= data.mainArticle.totalViewed %></p>
                </div>
            </div>
        <% }else{ %>
            <div class="main-post flex flex-col md:flex-row bg-white md:w-4/6 mx-auto px-3 py-2 border-b mt-5 mb-3">
                <img src="/default/default-post-img.png" class="w-24 h-full object-cover rounded-2xl mx-auto md:mx-0 mb-5 md:mb-0">
                <div class="flex flex-col w-5/6 md:w-4/6 mx-auto md:mx-0 md:ml-5 text-center md:text-left">
                    <h3 class="text-sm md:text-base font-bold break-words ">you doesnt have any main Article, select one</h3>
                    <p class="text-sm font-light mt-4 mb-1">20 02 2020 </p>
                    <p class="text-sm font-light">0 view</p>
                </div>
            </div>
        <% } %>

        <!-- ARTICLE FILTER -->
        <h3 class="font-bold text-2xl mx-auto mt-5 text-center text-gray-800">Filter All Articles</h3>
        <div class=" px-4 py-2 bg-gray-100 mt-5">
            <p class="text-base font-bold my-2 text-center">Filter By</p>
            <form action="#" class="flex w-5/6 flex-col md:flex-row md:w-3/6 mx-auto mb-5 justify-between items-center">
                <div class="flex flex-col">
                    <p class="text-sm my-2">tanggal pembuatan</p>
                    <select class="outline-none border">
                        <option value="tebaru" >tebaru</option>
                        <option value="terlama">terlama</option>
                        <option value="semua">semua</option>
                    </select>
                </div>
                <div class="flex flex-col">
                    <p class="text-sm my-2">view</p>
                    <select class="outline-none border">
                        <option value="terbanyak" >terbanyak</option>
                        <option value="terdikit">terdikit</option>
                        <option value="semua">semua</option>
                    </select>
                </div>

                <button class="bg-blue-500 text-white px-2 h-10 rounded-lg mt-5">set filter</button>
            </form>
        </div>

        <!-- ARTICLES -->
        <h3 class="font-bold text-2xl mx-auto mt-5 text-center text-gray-800">Set Main Article</h3>
        <div class="post-render justify-around flex-col mt-5 mb-7 bg-gray-100 px-4 py-2 mt-6 max-h-96 overflow-y-auto">
            <% if(data.articles.length > 0){ %>
                <% for(let article of data.articles) { %>
                    <div class="post-card flex flex-col md:flex-row bg-white md:w-4/6 mx-auto px-3 py-2 border-b border-black mb-3">
                        <img src= <%- article.thumbnail %> class="w-24 h-full object-cover rounded-2xl mx-auto md:mx-0 mb-5 md:mb-0">
                        <div class="flex flex-col w-5/6 md:w-4/6 mx-auto md:mx-0 md:ml-5 text-center md:text-left">
                            <h3 class="text-sm md:text-base font-bold break-words "><%= article.title %></h3>
                            <p class="text-sm font-light mt-4 mb-1"><%= article.createdAt %></p>
                            <p class="text-sm font-light"><%= article.totalViewed %></p>
                            <form method="POST" action= <%- `/articles/main/${article.uuid}` %> style="display: inline;">
                                <button class="px-3 py-1 text sm mx-auto bg-green-600 mt-3 md:mt-0 mb-6 text-white">set to main Article</button>
                            </form>
                        </div>
                    </div>   
                <% } %>
            <% }else{%>
                <p style="font-weight: bold;">there is no article to show, go create one</p>
            <% } %>
        </div>
    </div>
</body>
    <!-- IMPORT THE JS -->
    <script src="/asset/js/account.js"></script>
</html>