<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <!-- FAVICON -->
    <link rel="icon" href= <%- websiteData.pavIcon %> type="image/gif" sizes="16x16">
    <!-- importing the css/stylesheet -->
    <link rel="stylesheet" href="/asset/css/global.css">
    <link rel="stylesheet" href="/asset/css/nav.css">
    <link rel="stylesheet" href="/asset/css/editprofile.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <!-- NAVBAR -->
    <%- include('parts/userNavbar2', {}); %>

    <!-- Main-part -->
    <div class="container container-form">
       <form action="/users/setting" method="POST" enctype="multipart/form-data">
           <div class="about">
               <h1>Edit Profile disini</h1>
           </div>
           <div class="edit">
            <div class="profile">
                <h4>ganti Foto</h4>
              <div class="profile-pict">
                 <input type="file" onchange="loadimg(event)" name="profilePicture">
                 <img src = <%= data.user.profilePicture %> id="imgplace">
              </div>
            </div>
            <div class="other">
                <label for="name">name</label>
                <input type="text" name="name" placeholder="nama" id="name" required minlength="6" >
                <label for="deskripsi">about</label>
                <textarea name="about" id="deskripsi" cols="30" rows="10" placeholder="deskripsi" ><%= data.user.about %></textarea>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="input your password to save the change" required minlength="6">
                <label style="color: red;"><%= message != null? message: '' %></label>
                <label for="password"><a href="/users/setting/password" style="text-decoration: none;">Change Password?</a></label>
                <label style="color: rgb(6, 187, 0);;"><%= typeof messageSuccess != 'undefined'? messageSuccess: '' %></label> 
                <button>change</button>
             </div>
           </div>
       </form>
    </div>
    <!-- javascript for render the value in the input form -->
    <script type="text/javascript"> 
        document.getElementById("name").value = <%- JSON.stringify(data.user.name) %>;
    </script>
    <!-- import the js -->
    <script src="/asset/js/editprofile.js"></script>
</body>
</html>